footer.row
	p.col-xs-12
		| Written by 
		a(href='https://github.com/robert-waggott') Robert Waggott (robert-waggott)
		|. 
		| Get the downloader 
		a(href='https://github.com/robert-waggott/INSPIREPolygonsDownloader') here
		|.