extend layout
block css
	link(rel='stylesheet', href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css')

block js
	script(src='https://code.jquery.com/jquery-2.1.4.min.js')
	script(src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js')
	script(src='/js/map.js')

block content
	div#map

block sidebar
	h2 Polygon Information

	p#polygon_information_explanation Information about your selected polygon will appear here. 

	dl
		dt Address
		dd#address

		dt Tenure
		dd#tenure 	

		dt INSPIRE Id
		dd#inspire_id

		dt Cadastral Ref.
		dd#cadastral_ref

		dt Valid from
		dd#valid_from
