extend layout
block css
	link(rel='stylesheet', href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css')

block js
	script(src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js')

block content
	div#map

block sidebar
	p.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id ornare lorem. Quisque suscipit sem a turpis gravida, pharetra commodo lacus elementum. Sed scelerisque tortor arcu. Fusce quis felis in enim vulputate efficitur quis ut est. Etiam leo quam, dignissim sit amet ante suscipit, blandit rutrum metus. Praesent ullamcorper dictum risus id feugiat. Integer aliquam nisl ac velit lacinia bibendum. Donec eget finibus enim, a vulputate urna. Proin eget dapibus tellus, vitae placerat mauris.